*,
*:before,
*:after
    box-sizing: border-box

body
    background: $bodyBackground
    color: $bodyTextColor
    font-family: 'avenir next', avenir, ubuntu, roboto, noto, 'segoe ui', sans-serif

h1
    margin: 0px

th
    font-weight: bold

.icon-small
    width: 45px
    vertical-align: -15px

.small-image
    max-width: 130px

.bold
    font-weight: bold

.more-space
    margin: 25px
    padding: 15px

.centered
    display: flex
    justify-content: center
    align-items: center
    margin-top: 5%
    margin-bottom: 5%

.padding-10
    padding: 10px

.padding-top-15
    padding-top: 15px